<!-- views/partials/navigation.ejs -->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/book/list">Books</a></li>
        <li><a href="/book/add">Add Book</a></li> <!-- Dodaj ten element -->
        <li><a href="/author/list">Authors</a></li>
    </ul>
</nav>

