<!-- views/books.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>Books</h1>
    <% if (books.length > 0) { %>
        <ul>
            <% books.forEach(book => { %>
                <li>
                    <%= book.title %>
                    <form method="post" action="/book/delete/<%= book.id %>">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No books has been found</p>
    <% } %>
</body>
</html>
